# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# The database URL is used to connect to your PostgreSQL database.
POSTGRES_URL="postgres://postgres:[PASSWORD]@localhost:5432/quizzlet"

# You can generate the secret via 'openssl rand -base64 32' on Unix
# @see https://next-auth.js.org/configuration/options#secret
AUTH_SECRET='supersecret'

# Google OAuth provider
AUTH_GOOGLE_ID='replace-with-google-client-id'
AUTH_GOOGLE_SECRET='replace-with-google-client-secret'

# GitHub OAuth provider
AUTH_GITHUB_ID='replace-with-github-client-id'
AUTH_GITHUB_SECRET='replace-with-github-client-secret'

# Email (from address for NextAuth)
AUTH_EMAIL_FROM='noreply@example.com'

# Spring Boot backend URL
NEXT_PUBLIC_BACKEND_URL='http://localhost:8080'

# AWS S3 mock values
NEXT_PUBLIC_S3_REGION='us-east-1'
NEXT_PUBLIC_S3_ACCESS_KEY='dummy_access_key'
NEXT_PUBLIC_S3_SECRET_KEY='dummy_secret_key'
NEXT_PUBLIC_S3_BUCKET_NAME='dummy_bucket'
